*
{
    margin: 0;
    padding: 0;
}


.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}





.aboutme{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-areas: "desc act";
    grid-template-columns: 60% auto;
    gap: 50px;
    height: 80vh;
    width: 80vw;
    perspective: 1000px;
    z-index: 2;
}
:root{
    --padding: 60px;
    --actPad: 20px;
}

.wrapper-desc{
    grid-area: "desc";
    width: 100% - var(--padding);
    height: 100% - var(--padding);
    display: grid;
    color: white;
    border-radius: 10px;
    grid-template-columns: 15vw auto;
    grid-template-rows: 15vw auto;
    gap: 60px;
    padding: var(--padding);
    background-color: rgba(255, 255, 255, 0.15);
    transform: rotateY(10deg);

    /* animation: leftSide 1.5s ease-out 0s 1;
    animation-fill-mode: forwards; */
}
#pfp{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    aspect-ratio: 1;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
#status{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    font-size: 20px;
    list-style: none;
}
#description{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: 20px;
    line-height: 1.45;
}

.wrapper-activities{
    grid-area: "act";
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 30px;
    height: 100% - var(--actPad);
    width: 100% - var(--actPad);
    overflow-y: scroll;
    border-radius: 10px;
    transform: rotateY(-10deg);
    background-color: rgba(255, 255, 255, 0.15);
    padding: var(--actPad);

    /* animation: rightSide 1.5s ease-out 0s 1;
    animation-fill-mode: forwards; */

    /* Gets rid of the scroll bar but the area it takes up is still there */
    /* padding-right: 17px;
    box-sizing: content-box; */
}
.wrapper-activities::-webkit-scrollbar {
    display: none;
}

.wrapper-img{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;

    grid-column-start: 1;
    grid-column-end: 2;
}
.wrapper-img img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.wrapper-img div{
    position: absolute;
    border-radius: 10px;
    opacity: 0%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity .4s;
}
.wrapper-img p{
    color: black;
    text-align: center;
    font-size: 18px;
}
.wrapper-img:hover div{
    opacity: 100%;
}

/* Keyframes */

@keyframes fadeIn{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

@keyframes leftSide{
    from{
        transform: translate(-100%) rotateY(0deg);
        opacity: 0%;
    }
    to{
        transform: translate(0%) rotateY(10deg);
        opacity: 100%;
    }
}
@keyframes rightSide{
    from{
        transform: translate(100%) rotateY(0deg);
        opacity: 0%;
    }
    to{
        transform: translate(0%) rotateY(-10deg);
        opacity: 100%;
    }
}