.newBackground{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0;
}
.newBackground svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}