

body a{
    font-size: 40px;
    padding: 25px;
    text-decoration: none;
    color: var(--primary);
    opacity: 0%;
    display: inline-block;
    z-index: 1;
    position: absolute;


    animation: fadeIn 1s ease-in-out 1.5s 1;
    animation-fill-mode: forwards;
}

.card_wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(30%);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 100px;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 10px;
    opacity: 0%;


    animation: animation 1s ease-in-out 0.5s 1;
    animation-fill-mode: forwards;
}

.card{
    background-color: grey;
    aspect-ratio: 11 / 8.5;
    width: 300px;
    height: auto;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
}

.card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    box-shadow: 0 20px 50px -10px rgba(51, 51, 51, 0.7), 0 50px 100px 0 rgba(51, 51, 51, 0.2);
    z-index: -1;
    -webkit-transform: translateZ(-50px);
    transform: translateZ(-50px);
    -webkit-transition: .3s;
    transition: .3s;
}

.card{
    background-image: url(../assets/tempImg.png);
    background-position: center;
}

/* Key frames */
@keyframes animation{
    from{
        opacity: 0%;
        transform: translate(-50%, -50%) scale(30%);
    }
    to{
        opacity: 100%;
        transform: translate(-50%, -50%) scale(100%);
    }
}
@keyframes fadeIn{
    from{opacity: 0%;}
    to{opacity: 100%;}
}